# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Logs
*.log

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Redis
dump.rdb
